
<!-- client section starts  -->

<section class="clients" id="clients">

    <div class="heading">
        <h1>Our previous clients</h1>
        <img src="css/header-img.png" alt="">
    </div>

    <div class="row">

        <div class="box-container">
            <div class="box">
                <img src="css/client-1.jpg" alt="">
                <div class="info">
                    <h3>01. Mark & Alice</h3>
                    <p> <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo aut repudiandae nihil quidem perspiciatis natus placeat, inventore, vitae, quia totam ad dolores velit. Cumque, alias ullam. Nihil, aperiam hic! <i class="fas fa-quote-right"></i> </p>
                </div>
            </div>
            <div class="box">
                <img src="css/client-2.jpg" alt="">
                <div class="info">
                    <h3>02. Vicky & Katrina</h3>
                    <p> <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo aut repudiandae nihil quidem perspiciatis natus placeat, inventore, vitae, quia totam ad dolores velit. Cumque, alias ullam. Nihil, aperiam hic! <i class="fas fa-quote-right"></i> </p>
                </div>
            </div>
            <div class="box">
                <img src="css/client-1.jpg" alt="">
                <div class="info">
                    <h3>03. Ranbir & Alia</h3>
                    <p> <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo aut repudiandae nihil quidem perspiciatis natus placeat, inventore, vitae, quia totam ad dolores velit. Cumque, alias ullam. Nihil, aperiam hic! <i class="fas fa-quote-right"></i> </p>
                </div>
            </div>
        </div>

        <img src="css/divider.png" class="divider" alt="">

        <div class="box-container">
            <div class="box">
                <div class="info">
                    <h3>04. Sid & Kiara</h3>
                    <p> <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo aut repudiandae nihil quidem perspiciatis natus placeat, inventore, vitae, quia totam ad dolores velit. Cumque, alias ullam. Nihil, aperiam hic! <i class="fas fa-quote-right"></i> </p>
                </div>
                <img src="css/client-4.jpg" alt="">
            </div>
            <div class="box">
                <div class="info">
                    <h3>05. Romio & Juliet</h3>
                    <p> <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo aut repudiandae nihil quidem perspiciatis natus placeat, inventore, vitae, quia totam ad dolores velit. Cumque, alias ullam. Nihil, aperiam hic! <i class="fas fa-quote-right"></i> </p>
                </div>
                <img src="css/client-2.jpg" alt="">
            </div>
            <div class="box">
                <div class="info">
                    <h3>06. Ranveer & Deepu</h3>
                    <p> <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo aut repudiandae nihil quidem perspiciatis natus placeat, inventore, vitae, quia totam ad dolores velit. Cumque, alias ullam. Nihil, aperiam hic! <i class="fas fa-quote-right"></i> </p>
                </div>
                <img src="css/client-4.jpg" alt="">
            </div>
        </div>


    </div>

</section>

<!-- client section ends -->
