<section class="contact" id="contact">
    <div class="heading">
        <h1>Contact us</h1>
        <img src="css/header-img.png" alt="">
    </div>

    <form action="/contact" method="post">
        <div class="inputBox">
            <input type="text" name="name" placeholder="Your name">
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="inputBox">
            <input type="number" name="num" placeholder="Your number">
            <input type="text" name="address" placeholder="Your address">
        </div>
        <textarea placeholder="Say something" name="box" id="" cols="30" rows="10"></textarea>
        <button id="myButton" class="button" type="submit" name="button" onclick="displayAlert()" >Send Message</button>
    </form>
</section>
