<div id="loginModal" class="modal">
<div class="modal-content">
  <span class="close" onclick="closeModal()">&times;</span>
  <h2 class="signh2">Sign In</h2>
  <form class="signform" id="loginForm" onsubmit="submitLoginForm(event)">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button class="signBtn" type="submit">Login</button>
  </form>
  <p class="signp">Don't have an account? <a class="signa" href="#signupForm">Sign up</a></p>
</div>
</div>


<section class="home" id="home">

    <div class="content">
        <span>Welcome to our world.</span>
        <h3>we make every moment special!</h3>
        <a href="/description" class="button">learm more</a>
    </div>

</section>

<!-- home section ends -->

<section class="step-container">

    <div class="step">
        <span>01</span>
        <h3>Engagement</h3>
        <p>An engagement or betrothal is the period of time between the declaration of acceptance of a marriage proposal and the marriage itself.It should be special.</p>
        <a href="https://en.wikipedia.org/wiki/Engagement" class="button">learn more</a>
    </div>

    <div class="step">
        <span>02</span>
        <h3>Anniversary</h3>
        <p>An anniversary is the date on which an event took place or an institution was founded in a previous year, and may also refer to the commemoration or celebration of that event.</p>
        <a href="https://en.wikipedia.org/wiki/Anniversary" class="button">learn more</a>
    </div>

    <div class="step">
        <span>03</span>
        <h3>Wedding Ceremony</h3>
        <p>A wedding is a ceremony where two people are united in marriage. Wedding traditions and customs vary greatly between cultures, ethnic groups, religions, countries, and social classes.</p>
        <a href="https://en.wikipedia.org/wiki/Wedding Ceremony" class="button">learn more</a>
    </div>

</section>

<!-- things we do section starts  -->

<section class="vendor" id="vendor">

    <div class="heading">
        <h1>Things We Do!</h1>
        <img src="css/header-img.png" alt="">
    </div>

    <div class="box-container">

        <div class="box">
            <img src="css/img1.jpg" alt="">
            <div class="info">
                <h3>Dressing</h3>
                <p>A wedding dress is the dress worn by the bride during a wedding ceremony.</p>
                <a href="https://en.wikipedia.org/wiki/Wedding Dress" class="button">learm more</a>
            </div>
        </div>

        <div class="box">
            <img src="css/florist.jpg" alt="">
            <div class="info">
                <h3>Florist</h3>
                <p>A flower bouquet is a collection of flowers in a creative arrangement.</p>
                <a href="https://en.wikipedia.org/wiki/wedding decoration" class="button">learm more</a>
            </div>
        </div>

        <div class="box">
            <img src="css/img3.jpg" alt="">
            <div class="info">
                <h3>Food</h3>
                <p>Serving one of the best food items and designer cakes.</p>
                <a href="https://en.wikipedia.org/wiki/Wedding food" class="button">learm more</a>
            </div>
        </div>

        <div class="box">
            <img src="css/florist.jpg" alt="">
            <div class="info">
                <h3>Venues</h3>
                <p>Having contract with one of the best wedding venues in India.</p>
                <a href="https://en.wikipedia.org/wiki/marriage venue" class="button">learm more</a>
            </div>
        </div>

        <div class="box">
            <img src="css/img1.jpg" alt="">
            <div class="info">
                <h3>Music & Party</h3>
                <p>World class music and Dj system with 3D sound.</p>
                <a href="https://en.wikipedia.org/wiki/Wedding_reception" class="button">learm more</a>
            </div>
        </div>

        <div class="box">
            <img src="css/florist.jpg" alt="">
            <div class="info">
                <h3>Shoots</h3>
                <p>Best in pre-wedding and marriage shoots.</p>
                <a href="https://en.wikipedia.org/wiki/wedding shoots" class="button">learm more</a>
            </div>
        </div>

    </div>

</section>

<!-- things we do section ends -->
