<section class="team" id="team">

    <div class="heading">
        <h1>Our managing team</h1>
        <img src="css/header-img.png" alt="">
    </div>

    <div class="box-container">

        <div class="box">
            <img src="css/team-1.png" alt="">
            <h3>Lily Joe</h3>
            <span>Wedding Planner</span>
            <p>We serve you with one of the best wedding experience.Just let us know what else be can do to make your every moment special!</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="box">
            <img src="css/team-2.png" alt="">
            <h3>john deo</h3>
            <span>Team Lead</span>
            <p>We serve you with one of the best wedding experience.Just let us know what else be can do to make your every moment special!</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="box">
            <img src="css/team-3.png" alt="">
            <h3>Travis Head</h3>
            <span>Event Coordinator</span>
            <p>We serve you with one of the best wedding experience.Just let us know what else be can do to make your every moment special!</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

</section>
