<header>

    <a href="#" class="logo">TwoBeWed</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="/">Home</a>
        <!-- <a href="/vendor">Vendor</a> -->
        <a href="/client">Clients</a>
        <a href="/team">Team</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <button class="btn btn-primary" id="signinBtn" type="button" onclick="openModal()">Sign In</button>
    </nav>


</header>
